<?xml version="1.0" encoding="UTF-8"?>
<Menú>
    <Entrantes>
        <plato boolean="True" descripción="Lechuga, queso parmesano y salsa césar">Ensalada César</plato>
        <precio>8.50</precio>
        <plato boolean="True" descripción="Masa rebozada en huevo y pan rallado">Croquetas</plato>
        <precio>7.00</precio>
    </Entrantes>
    <PlatosPrincipales>
        <plato boolean="True" descripción="Corte de carne de res">Entrecot</plato>
        <precio>18.50</precio>
        <plato boolean="True" descripción="Salmón marinado y cocinado al horno">Salmón al horno</plato>
        <precio>16.00</precio>
    </PlatosPrincipales>
    <Postres>
        <plato boolean="True" descripción="Tarta hecha con queso crema">Tarta de queso</plato>
        <precio>5.00</precio>
        <plato boolean="True" descripción="Postre dulce y cremoso">Flan</plato>
        <precio>4.00</precio>
    </Postres>
</Menú>
